.App {
  display: flex;
  min-height: 100vh;
}
.App div {
  flex-grow: 1;
  border: 1px solid black;
}
.addbasket{
  padding-top: 20px;
}
input, button{
  display: block;
  margin: 4px auto;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 50%;
}
li button{
  margin-left: 15px;
  display: inline-block;
  width: auto;
  padding: 0 5px;
}
li svg{
  height: 18px;
  width: 18px;
  vertical-align: middle;
}